{{define "auth"}}

      <!DOCTYPE html>
      <html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

      </head>

      <body>

        <div class="container">
          <div class="row">
              <div class="col">
                  <h1 class="mt-5">Test microservices</h1>
                  <hr>
                  <a id="brokerBtn" class="btn btn-outline-secondary" href="javascript:void(0);">Test Broker</a>
                  <a id="signupBtn" class="btn btn-outline-secondary" href="javascript:void(0);">Test SignUp</a>
                  <a id="authBrokerBtn" class="btn btn-outline-secondary" href="/auth">Test Auth</a>
                  <a id="logBtn" class="btn btn-outline-secondary" href="javascript:void(0);">Test Log</a>
                  <a id="mailBtn" class="btn btn-outline-secondary" href="javascript:void(0);">Test Mail</a>
                  <a id="logGBtn" class="btn btn-outline-secondary" href="javascript:void(0);">Test gRPC log</a>
          
                
                  <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                      <span class="text-muted">Output shows here...</span>
                  </div>
              </div>
          </div>
  
          <div class="row">
              <div class="col">
                  <h4 class="mt-5">Sent</h4>
                  <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted"></span></pre>
                    <form>
                      <div class="my-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value="{{.Email}}">
                      </div>
                      <div class="my-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" value="{{.Password}}">
                      </div>
                      <div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                      </div>
                    </form>
                  </div>
                </div>
  
              <div class="col">
                  <h4 class="mt-5">Received</h4>
                  <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                      <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                  </div>
              </div>
          </div>
      </div>

                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
            
       </body>
      </html>
{{end}}

{{define "js"}}
  <script src="./js/auth.js"></script>

{{end}}
