{{define "signup"}}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta name="viewport" content="width=device-width" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title></title>
</head>
<body>
      <div class="row">
            <div class="col">
              <h4 class="mt-5">Sent</h4>
              <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                <pre id="payload"><span class="text-muted">Enter  Data here....</span></pre>
                <form>
                  <div class="my-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
      
                      <div class="my-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div>
                        <input type="submit" class="btn btn-primary" value="Make Reservation">
                      </div>
                </form>
                
              </div>
            </div>
      
</body>
</html>